@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    background-image: url("photo-1551554781-c46200ea959d.avif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 15px;
    cursor: pointer;
}

#increment-btn {
    background-color: darkred;
}

#decrement-btn {
    background-color: yellow;
}

#save-btn {
    background: green;
}
